<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Drive Thru Wallet</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">

        <!--  Script  -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container">
            <div class="row">
                <div class="userAccount-blank-space"></div>
                <div class="col-xs-12">
                    <a href="/nearbyVendors" role="button" class="btn btn-primary">Nearby Vendors</a>
                    <a href="/addCard" class="btn btn-primary" role="button">Add Credit Card</a>
                    <a href="/profile" class="btn btn-primary" role="button">Profile</a>
                </div>
            </div>

            <!--<div class="userAccount-blank-space"></div>-->

            <div class="row text-center">
                <h3>Welcome back Jennifer</h3>
            </div>

            <div class="row header">
                <div class="col-xs-12 text-center">
                    <strong>Available Rewards</strong>
                </div>
            </div>
            <div class="row transaction-list">
                <div class="col-xs-9">
                    <strong>Wendy's</strong><br>
                    Free Small Frosty<br/>
                    With purchase of $7.00 or more
                </div>
                <div class="col-xs-3">
                    <br/><a href="#" role="button" class="btn btn-primary btn-sm">Redeem</a>
                </div>
            </div>
            <div class="row graybar">
                <div class="col-xs-9">
                    <strong>Moe's</strong><br>
                    Buy one entree<br/>
                    Get one free
                </div>
                <div class="col-xs-3">
                    <br/><a href="#" role="button" class="btn btn-primary btn-sm">Redeem</a>
                </div>
            </div>


            <div class="row header">
                <div class="col-xs-12 text-center">
                    <strong>New Vendors</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 transaction-list">
                    <strong>Farmburger Decatur</strong><br>
                    410B W. Ponce De Leon<br/>
                    Decatur, Georgia 30030<br/>
                    (404) 378-5077
                </div>
                <div class="col-xs-12 graybar ">
                    <strong>Murphy's</strong><br>
                    997 Virginia Ave NE<br/>
                    Atlanta, GA 30306<br/>
                    (404) 872-0904
                </div>
            </div>

            <div class="row header">
                <div class="col-xs-12 text-center">
                    <strong>Recent Transactions</strong>
                </div>
            </div>

            <div class="row transaction-list">
                <div class="col-xs-3">
                    $7.28
                </div>
                <div class="col-xs-6">
                    <strong>Wendy's</strong><br/>
                    Atlanta, GA 30338
                </div>
                <div class="col-xs-3">
                    11:38AM<br/>
                    11/7/2015
                </div>
            </div>

            <div class="row transaction-list graybar">
                <div class="col-xs-3">
                    $9.47
                </div>
                <div class="col-xs-6">
                    <strong>Moe's</strong><br/>
                    Atlanta, GA 30306
                </div>
                <div class="col-xs-3">
                    6:02PM<br/>
                    11/6/2015
                </div>
            </div>

            <div class="row transaction-list">
                <div class="col-xs-3">
                    $7.28
                </div>
                <div class="col-xs-6">
                    <strong>Wendy's</strong><br/>
                    Atlanta, GA 30338
                </div>
                <div class="col-xs-3">
                    11:38AM<br/>
                    11/5/2015
                </div>
            </div>

            <div class="row transaction-list graybar">
                <div class="col-xs-3">
                    $7.01
                </div>
                <div class="col-xs-6">
                    <strong>Zaxby's</strong><br/>
                    Atlanta, GA 30306
                </div>
                <div class="col-xs-3">
                    7:23PM<br/>
                    11/5/2015
                </div>
            </div>





        </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>